.code-tabs--container {
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px var(--primary-color);
  color: inherit;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.code-tabs--icons {
  height: 2.5rem;
  width: 2.5rem;
}

.code-tabs-btn--container {

  flex-grow: 1;
  justify-content: flex-end;
}

.code-tab--btn {
  gap: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  background: var(--tabs-background-color);
  padding: 1rem;
  border: 0;
}

.code-tabs--content-container {
  background-color: var(----secondary-background-color-dark);
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  color: inherit;
}

.code-tabs--content {
  display: none;
  padding: 1rem;
  font-size: 1.5rem;
  margin: auto;
}

.code-tabs--btn-active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
}

.code {
  font-weight: bold;
}

.code-js {
  font-weight: bold;
}

.code-iframe {
  border: 1rem solid var(--primary-color);
  background: var(--primary-color);
  transform: scale(1);
  overflow: hidden;
  border-radius: 1rem;
  margin: auto;
}
