.code-tabs--container {
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem var(--box-shadow);
  color: inherit;
  margin: 3rem;
  background-color: var(--primary-color);
}

.code-tabs--icons{
  height: 2.5rem;
  width: 2.5rem;
}

.fa-html5 , .fa-js{
  font-size: 2.5rem;
}

.code-tabs-btn--container {
  flex-grow: 1;
  
}

.code-tab--btn {
  gap: 1rem;
  font-family: inherit;
  font-size: 1.8rem;
  background: inherit;
  padding: 1rem;
  border: 0;
  color : var(--font-color);
}

.code-tabs--content-container {
  background-color: var(--background-color);
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  color: inherit;
  margin: 1rem;
}

.code-tabs--content {
  display: none;
  padding: 1rem;
  font-size: 1.5rem;
  margin: auto;
}

.code-tabs--btn-active {
  font-weight: bold;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.code {
  font-weight: bold;
}

.code-js {
  font-weight: bold;
}

.code-iframe {
  border: 1rem solid var(--primary-color);
  background: var(--primary-color);
  transform: scale(1);
  overflow: hidden;
  border-radius: 1rem;
  margin: auto;
}
