.form-container {
  gap: 2rem;
  width: max-content;
  padding: 1rem;
  margin: 1rem;
}

.form-header {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

.form-heading {
  font-weight: bold;
  padding: 1rem 0rem;
  color: var(--font-color);
}

.radio-btn-container {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

.checkbox-btn-container {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

.form-container .link-btn {
  text-decoration: none;
  color: var(--font-color);
}

.no-list{
  list-style: none;
}