.floating-button-container {
  border-radius: 5px;
  padding: 3rem 1rem;
  background-color: inherit;
  width: 90%;
  margin: 2rem auto;
}

.floating-button-container .floating-button {
  border-radius: 1rem;
  padding: 5px 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  border: 0;
  cursor: pointer;
  background-color: var(--secondary-color);
  z-index: 1;
  box-shadow: 3px 3px 3px var(--box-shadow);
}
