.grid-2-column {
  display: grid;
  grid-template-areas: "g-col-1 g-col-2";
  height: auto;
  width: max-content;
}

.cart-manage-container .card-text-container {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  color: var(--black);
  margin-bottom: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px var(--black);
}

.left-content .card-text-container {
  box-shadow: none;
  border: 2px solid var(--dark-purple);
}

.cart-manage-container .change {
  border: 2px solid var(--black);
  padding: 5px;
  height: max-content;
  width: max-content;
  font-size: 1.5rem;
  font-weight: normal;
}

.cart-manage-container .heading {
  font-size: 1.5rem;
  padding: 2rem 2rem 0 2rem;
}

.cart-manage-container .card-text-para {
  font-size: 1.5rem;
  padding: 1rem 2rem 2rem 2rem;
}

.left-content {
  grid-area: g-col-1;
  padding: 1rem 4rem;
  border-right: 4px solid var(--barca-red);
}

.right-content {
  grid-area: g-col-2;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

.cart-manage-container .horizontal-card-img {
  width: 20rem;
  height: 25rem;
}

.cart-manage-container .cart-button {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
}

.cart-manage-container .btn-secondary {
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  color: var(--black);
}

/* Right Content */

.cart-manage-container .right-content .primary-card-btn {
  width: 100%;
  color: var(--black);
  background-color: var(--white);
  border: 2px solid black;
  padding: 1rem;
}

.cart-manage-container .right-content .primary-card-btn:hover {
  background-color: var(--black);
  color: var(--white);
  transform: scale(1.02);
}

.cart-manage-container .btn-secondary:hover {
  background-color: var(--barca-red);
  color: var(--white);
}

.cart-manage-container .change:hover {
  background-color: var(--black);
  color: var(--white);
}

.cart-manage-container .right-content .order {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: var(--barca-red);
  color: var(--white);
}
.cart-manage-container .right-content .order:hover {
  background: var(--black);
  color: var(--white);
  transform: scale(1.02);
}

.cart-billing {
  margin: 1rem;
  margin-top: 0rem;
  padding: 1rem;
  padding-top: 0rem;
}
/* Table formatting */

.table {
  margin: 2rem 0;
  font-size: 1.5rem;
  border-collapse: collapse;
  background: var(--off-white);
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.2rem 0.2rem var(--shadow-color);
}

.table-row {
  margin: 2.5rem;
}

.table-head {
  padding: 1rem;
  margin: 1rem;
  text-align: left;
}

.table-data {
  padding: 1rem;
  margin: 1rem;
  text-align: right;
}

.discount-text {
  color: var(--barca-red);
}

.items-counter-container {
  font-size: 2rem;
  gap: 1rem;
}

.cart-billing .cart-list li {
  margin: 1rem;
  border-bottom: 0.2rem solid var(--barca-red);
}
.cart-billing .cart-list li > * {
  margin-bottom: 2rem;
}

.billing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-border {
  border-bottom: 0;
}

.cart-manage-container .horizontal-card-container {
  box-shadow: none;
  margin: 2rem 0;
  border: 2px solid var(--dark-purple);
}
