/* header */
.ecom-header {
  color: var(--white);
  background: var(--light-purple);
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--header-z-index);
}

.header-container .home-link,
.shopping-link {
  text-decoration: none;
  color: var(--white);
}

.ecom-header .home-heading:hover,
.shop-now-heading:hover,
.logo-p:hover,
.logo:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.ecom-header .icon-badge-container {
  margin: 0;
  color: var(--white);
}

.ecom-header .icon-badge a:hover {
  color: var(--secondary-color);
}

.ecom-header .social-icon-container {
  background: var(--dark-purple);
  padding: 1.5rem;
  gap: 3rem;
  border-radius: 2.4rem;
}

.ecom-header .social-icon-container .search-input {
  border-radius: 2.4rem;
  border: 2px solid var(--white);
}

.ecom-header .social-icon-container .icon-badge-text {
  position: absolute;
  font-size: 1.2rem;
  background-color: inherit;
  width: 2rem;
  border-radius: 2rem;
  padding-right: 5rem;
  font-weight: bolder;
  bottom: -1.5rem;
  left: -1rem;
}

.social-icon-container .search-input {
  color: var(--white);
}

.ecom-header .social-icon-container .cart {
  padding-left: 1.5rem;
}

.icon-badge > *:hover {
  cursor: pointer;
}

.ecom-header .search .search-icon {
  color: var(--white);
}

.ecom-home-container .logo-container p {
  color: var(--white);
}

.ecom-header .header-container {
  color: var(--white);
}

/* Home Page */
.ecom-home-container {
  display: grid;
  font-family: "Secular One", sans-serif;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    "header header header header header header header header"
    "offer offer offer offer offer offer offer offer"
    ". main main main main main main ."
    ". section section section section section section ."
    ". section2 section2 section2 section2 section2 section2 ."
    ". section3 section3 section3 section3 section3 section3 ."
    ". jersey-card jersey-card jersey-card jersey-card jersey-card jersey-card ."
    ". section4 section4 section4 section4 section4 section4 ."
    ". section5 section5 section5 section5 section5 section5 ."
    "footer footer footer footer footer footer footer footer";
}

.ecom-header {
  grid-area: header;
}

.no-link-store {
  text-decoration: none;
  color: var(--white);
}

.no-links-store:hover {
  color: var(--light-purple);
  transform: scale(1.03);
}

.ecom-offer-container {
  grid-area: offer;
}

.ecom-main-container {
  grid-area: main;
}

.ecom-section-container {
  grid-area: section;
}

.ecom-home-footer {
  grid-area: footer;
}

.ecom-section2-container {
  grid-area: section2;
}

.ecom-section3-container {
  grid-area: section3;
}

.ecom-jersey-card-container {
  grid-area: jersey-card;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 6rem;
  border-bottom: 5px solid var(--border-red);
}

.ecom-section4-container {
  grid-area: section4;
}

.ecom-section5-container {
  grid-area: section5;
}

/* Offer */
.ecom-offer-container {
  background: var(--offer-yellow);
  text-align: center;
  font-weight: bolder;
  padding: 1rem;
  font-size: 1.3rem;
}

/* Main */

.ecom-main-container .cover-image {
  width: 100%;
}

.rel-c {
  position: relative;
}

.shopping-links {
  position: absolute;
  color: var(--white);
}

.shopping-heading {
  position: absolute;
  color: var(--white);
  font-size: 5rem;
}

.barca-heading {
  top: 4rem;
  left: 6rem;
}

.category-heading {
  top: 8rem;
  left: 6rem;
}

.shopping-heading:hover,
.shop-now-links:hover,
.barca-kits:hover {
  transform: scale(1.03);
}

.barca-kits {
  top: 15rem;
  left: 6rem;
}

.shop-now-links {
  top: 19rem;
  left: 6rem;
}

/* Section */
.ecom-home-container .top-picks-heading {
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
  margin: 6rem 0;
  width: 100%;
  border-bottom: 5px solid var(--border-red);
  font-family: "Secular One", sans-serif;
}

.product-category-container {
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 5px solid var(--border-red);
  padding-bottom: 6rem;
}

.category {
  position: relative;
}

.category-img {
  border-radius: 2rem;
  width: 25rem;
  height: 28rem;
}

.category:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.category-label {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  padding: 1rem;
  background-color: var(--off-white);
  width: 85%;
  border-radius: 2rem;
  text-align: center;
  opacity: 0.9;
}

.ecom-section2-container .training-kits-img {
  margin-top: 4rem;
  width: 100%;
}

.ecom-section3-container .best-sellers-img {
  margin-top: 4rem;
  width: 100%;
}

.ecom-section4-container .fashion-her-img {
  margin-top: 4rem;
  width: 100%;
}

.ecom-section5-container .fashion-him-img {
  margin-top: 4rem;
  width: 100%;
}

.ecom-main-container > *:hover,
.ecom-section2-container > *:hover,
.ecom-section3-container > *:hover,
.ecom-section4-container > *:hover,
.ecom-section5-container > *:hover {
  cursor: pointer;
}

/* Footer */
.ecom-home-footer {
  background-color: var(--light-purple);
  color: var(--white);
  padding: 2rem;
  margin-top: 2rem;
}

.ecom-home-footer .social {
  font-size: 2rem;
  color: var(--white);
}

.ecom-home-footer .social:hover {
  color: var(--secondary-color);
}
