
.horizontal-card-container {
  height: auto;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas: "img text";
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem var(--black);
}

.horizontal-image-container {
  grid-area: img;
  background: var(--jersey-primary-color);
  border-radius: 1rem;
  margin: 1rem;
}

.horizontal-card-img {
  width: 30rem;
  height: 38rem;
  border-radius: 1rem;
}

.horizontal-text-container {
  grid-area: text;
  margin: 1rem;
  background-color: var(--white);
}

.horizontal-card-heading {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.horizontal-card-category {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1.5rem;
  color: var(--black);
}

.rating {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  border-bottom: 1px solid var(--black);
}

.rating .fa-star {
  color: var(--rating-color);
  font-size: 1.5rem;
}

.rating .unset {
  color: var(--secondary-background-color-dark);
}

.rating .secondary-font {
  font-size: 1.5rem;
}

.pricing {
  gap: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.pricing .discount {
  color: var(--offline);
}

.select-size {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.sizes-container .size {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-bottom: 2rem;
}

.sizes-container .size:hover {
  cursor: pointer;
  color: var(--white);
  background: var(--black);
}

.horizontal-button-container {

  gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--black);
}

.card-btn {
  gap: 1.5rem;
  background-color: var(--offline);
  padding: 1rem;
  border-radius: 1rem;
  flex-grow: 1;
}

.wishlist-btn {

  gap: 1.5rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  flex-grow: 1;

}

.wishlist-btn:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.specification-container {

  gap: 2rem;
    color: var(--black);
}

.specification {
  margin: 1rem;
}

.specification-value {
  border: none;
  border-bottom: 1px solid var(--black);
  padding: 5px;
}

.specifications-form {
  flex-grow: 1;
}

.specification-key {
  font-size: 1.3rem;
  display: flex;
  font-weight: bolder;
}
