.landing-page-container {
  display: grid;
  grid-template-areas:
    "row1"
    "row2";
}

.row1 {
  grid-area: row1;
  background-color: var(--secondary-color);
}

.row2 {
  grid-area: row2;
  background-color: var(--background-color-dark);
}

.row1 .social-icon-container {
  color: var(--font-color);
  padding: 2rem;
}

.links-container .social {
  padding: 1.5rem;
  color: var(--white);
}

.links-container .social:hover {
  color: var(--black);
}

.landing-image-container {
  margin-top: 3rem;
  margin-right: 7rem;
}

.intro {
  margin: 16rem;
  color: var(--white);
}

.row2 .intro {
  margin-left: 7rem;
}

.landing-page-container .btn-primary {
  color: var(--secondary-color-dark);
  background-color: var(--white);
  font-size: 2rem;
  padding: 5px;
  border: 2px solid;
}

.landing-page-container .btn-primary:hover {
  color: var(--white);
  background-color: var(--secondary-color-dark);
}

.landing-page-container .landing-btn-container {
  margin: 1rem;
}

.landing-page-container .btn-secondary {
  color: var(--white);
  background-color: var(--secondary-color-dark);
  font-size: 2rem;
  padding: 5px;
  border: 2px solid var(--white);
}

.landing-page-container .btn-secondary:hover {
  background-color: var(--white);
  color: var(--secondary-color-dark);
}

.intro .h1 {
  font-size: 6rem;
  font-weight: bolder;
}

.nova-heading {
  padding-left: 2rem;
  font-family: "Secular One";
}

.intro .info {
  padding: 2rem;
  font-size: 3rem;
}

.landing-img {
  width: 60rem;
  height: 40rem;
}

.import-link-container {
  margin-right: 5rem;
}
