.button-container {
  border-radius: 5px;
  padding: 3rem 1rem;
  width: 100%;
  margin: 2rem auto;
}

.btn-primary {
  background-color: var(--secondary-color);
  border: 2.5px solid var(--secondary-color);
}

.btn {
  border-radius: 1rem;
  padding: 5px 1rem;
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  cursor: pointer;
  border: 0;
}

.btn-secondary {
  background-color: transparent;
  border: 2.5px solid var(--secondary-color);
  color: var(--secondary-color);
}

.primary-card-btn:hover {
  transform: scale(1.2);
}

.primary-cart-text {
  padding: 0;
  margin: 0;
}

.primary-card-btn {
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  border: none;
  font-weight: bolder;
  padding: 0rem;
  cursor: pointer;
  margin: 0rem;
  width: 15rem;
}

.primary-card-icon {
  padding: 0;
  margin: 1rem;
  color: var(--secondary-color);
}

.primary-cart-icon:hover {
  transform: scale(1.2);
}
