@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif&display=swap');

:root {
  /** Dark Theme*/
  --background-color-dark: #1f295b;
  --primary-color-dark : #3b447d;
  --font-color-dark: #ced8df;
  --box-shadow-dark : #000009;
  --secondary-color-dark: #ce82c7;
 
  /* Light theme */
  --background-color-light: #ffffff;
  --primary-color-light : #f2e9e9;
  --font-color-light: #672373;
  --box-shadow-light : #9ca3af;
  --secondary-color-light : #ce6767;
  
  --max-z-index : 99999;
  --header-z-index : 99998;
  --card-z-index : 99997;
  --input-blue: #3498db;
  --input-green: #2ecc71;
  --rating-color: yellow;
  --jerysey-secondary-color: #2196f3;
  --jersey-primary-color: #122936;
  --barca-red:#A50044;
  --barca-blue:#004D98;
  --online: green;
  --away: orange;
  --offline: red;
  --white: #ffffff;
  --black: #000000;
  --off-white: #d4d4d8;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: var(--primary-color-light);
    --background-color: var(--background-color-light);
    --font-color: var(--font-color-light);
    --box-shadow : var(--box-shadow-light);
    --secondary-color : var(--secondary-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--primary-color-dark);
    --background-color: var(--background-color-dark);
    --font-color: var(--font-color-dark);
    --box-shadow : var(--box-shadow-dark);
    --secondary-color : var(--secondary-color-dark);
  }
}

[color-scheme="dark"] {
  --primary-color: var(--primary-color-dark);
  --background-color: var(--background-color-dark);
  --font-color: var(--font-color-dark);
  --box-shadow : var(--box-shadow-dark);
  --secondary-color : var(--secondary-color-dark);

}

[color-scheme="light"] {
  --primary-color: var(--primary-color-light);
  --background-color: var(--background-color-light);
  --font-color: var(--font-color-light);
  --box-shadow : var(--box-shadow-light);
  --secondary-color : var(--secondary-color-light);
}
