@import url(../../../../css/component.css);

body {
  background-color: var(--background-color);
  font-size: 2rem;
}

.simple-avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.avatar-size-xlg {
  height: 15rem;
  width: 15rem;
  font-size: 4rem;
}

.avatar-size-lg {
  height: 10rem;
  width: 10rem;
  font-size: 2.5rem;
}

.avatar-size-md {
  height: 8rem;
  width: 8rem;
  font-size: 2rem;
}

.avatar-size-sm {
  height: 6rem;
  width: 6rem;
  font-size: 1.5rem;
}

.avatar-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1rem;
}

.avatar-prop {
  background-color: var(--primary-color);
  border-radius: 50%;
}
