
.stacked-list .basic-card {
  gap: 1rem;
  padding: 1rem;
  background-color: var(--font-color);
  color: var(--background-color);
  border-radius: 1rem;
}

.stacked-list li {
  margin: 2rem;
}

.notification-image {
  height: 5rem;
  width: 4rem;
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
}
