

.rating-container .star-rating .fa-star {
  color: var(--rating-color);
  font-size: 1.5rem;
}

.rating-container .star-rating .unset {
  color: var(--font-color);
}

.rating-container {
  gap: 40rem;
}
