.search {
  position: relative;
}

.search .search-input {
  border: 0;
  background: none;
  border: 2px solid var(--input-blue);
  padding: 1rem;
  width: 30rem;
  outline: none;
  border-radius: 2.4rem;
  color: var(--font-color);
}

.search .search-icon {
  position: absolute;
  font-size: 1.3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 27.5rem;
}

.search .search-icon:hover {
  cursor: pointer;
}

.search:hover .search-input:hover {
  border: 2px solid var(--input-green);
}
