@import url(../../../../css/component.css);
.toggle-button-container {
    position: absoulte;
    top: 50%;
    left: 50%;
    text-align: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 110px;
    height: 60px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--font-color);
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .switch input {
    display: none;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    background-color: var(--background-color);
    border-radius: 3rem;
    transition: 0.4s;
    left: 5px;
    bottom: 5px;
  }
  
  input:checked + .slider {
    background-color: var(--online);
  }
  
  input:checked + .slider:before {
    transform: translate(50px);
  }
  