
.jersey-container {
  position: relative;
  width: 320px;
  height: 420px;
  background: var(--barca-red);
  border-radius: 20px;
  overflow: hidden;
}

.jersey-container::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--barca-blue);
  transform: skewY(345deg);
  transition: 0.5s;
}

.jersey-container:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

/* To Display Watermark */

/* .jersey-container::after {
  content: "MILAN";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.1);
  left: 4rem;
}*/

.jersey-container .jersey-container-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--card-z-index);
}

.jersey-container .jersey-container-img img {
  max-width: 100%;
  transition: 0.5s;
}

.jersey-container:hover .jersey-container-img img {
  max-width: 70%;
}

.jersey-container .jersey-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: var(--card-z-index);

}

.jersey-container .jersey-content .jersey-price-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: var(--white);
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.jersey-container .jersey-content .jersey-title {
  padding: 0rem;
  margin: 0;
  color: var(--white);
  font-size: 2.4rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.jersey-container .jersey-content .jersey-category {
  padding: 0;
  margin: 0;
  color: var(--white);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.discount {
  color: var(--rating-color);
}

.jersey-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--barca-blue);
  color: var(--white);
  font-family: "Raleway", sans-serif;
}

.jersey-btn:hover {
  cursor: pointer;
  color: black;
}

.jersey-buttons{
  display: flex;
  gap:2rem;
}

.jersey-buttons .cart-icon > *{
  font-size: 1.5rem;
}