<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./src/css/multiple-button.css">
</head>

<body>
    <div class="home-container">
        <header>
            <div class="header-container-1">
                <div class="left-container">
                    <div class="logo-container">
                        <img src="../assets/logo.png" alt="Logo" class="logo">
                        <p class="logo-p">SHINE TOGETHER</p>
                    </div>
                    <div class="header-container">
                        <p>Home</p>
                        <p>Documentation</p>
                    </div>
                </div>
                <div class="social-icon-container">
                    <a href="https://github.com/sach10-create" target="_blank" aria-label="View Github Profile"
                        class="no-link"><i class="fab fa-github social"></i></a>
                    <a href="https://twitter.com/thisis_sachin_p" target="_blank" aria-label="View Twitter Profile"
                        class="no-link"><i class="fab fa-twitter social"></i></a>
                    <a href="https://www.linkedin.com/in/sachin-patekar-2199911a3/" target="_blank"
                        aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
                    <i class="fas fa-sun theme-icon social" aria-label="dark/light theme icon"></i>
                </div>
            </div>
        </header>
        <main>
            <section class="main--heading-container">
                <h1 class="main--heading">Button</h1>
                <p class="main--text">Buttons are also called as call to action. We have range of buttons and their
                    states. You may use a tag or button element, you need to add respective classes, and you are good to
                    go.
                </p>
            </section>
            <section class="main--sub-heading">
                <div id="multiple-button" class="multiple-button">
                    <h3 class="main--heading">Different Styles of Primary Button</h3>
                    <p class="main--text">
                        Whenever you want your user to click on a link or button, use primary style buttons.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
            <section class="main--sub-heading">
                <div id="toggle-button" class="toggle-button">
                    <h3 class="main--heading">Toggle Button</h3>
                    <p class="main--text">
                        We use toggle button mostly to change between themes or stuff where we need to switch back and
                        forth.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
            <section class="main--sub-heading">
                <div id="floating-button" class="floating-button">
                    <h3 class="main--heading">Floating Action Button</h3>
                    <p class="main--text">
                        For class and html, check below code.
                        Floating-action buttons can be customized by adding the font-awesome icon of your choice. This
                        button will be fixed to right-bottom corner.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
            <section class="main--sub-heading">
                <div id="disabled-button" class="disabled-button">
                    <h3 class="main--heading">Disabled Action Button</h3>
                    <p class="main--text">
                        For class and html, check below code.
                        Floating-action buttons can be customized by adding the font-awesome icon of your choice. This
                        button will be fixed to right-bottom corner.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
        </main>
        <nav>
            <a class="burger-nav"></a>
            <h2>Components</h2>
            <ul class="list-components">
                <a href="" class="navbar-link">
                    <li class="component">Alerts</li>
                </a>
                <a href="https://ui-nova.netlify.app/components/avatar/avatar.html" class="navbar-link">
                    <li class="component ">Avatar</li>
                </a>
                <a href="https://ui-nova.netlify.app/components/badge/badge.html" class="navbar-link">
                    <li class="component">Badge</li>
                </a>
                <a href="" class="navbar-link">
                    <li class="component link-active">Button</li>
                </a>
                <a href="" class="navbar-link">
                    <li class="component">Cards</li>
                </a>
                <a href="" class="navbar-link">
                    <li class="component">Lists</li>
                </a>
                <a href="" class="navbar-link">
                    <li class="component">Modal</li>
                </a>
                <a href="" class="navbar-link">
                    <li class="component">Navigation</li>
                </a>
                <a href="" class="navbar-link">
                    <li class="component">Rating</li>
                </a>
                <a href="" class="navbar-link">
                    <li class="component">Slider</li>
                </a>
            </ul>
        </nav>
        <footer>
            <div class="social-icon-container footer">
                <a href="https://github.com/sach10-create" target="_blank" aria-label="View Github Profile"
                    class="no-link"><i class="fab fa-github social"></i></a>
                <a href="https://twitter.com/thisis_sachin_p" target="_blank" aria-label="View Twitter Profile"
                    class="no-link"><i class="fab fa-twitter social"></i></a>
                <a href="https://www.linkedin.com/in/sachin-patekar-2199911a3/" target="_blank"
                    aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
            </div>
            <p class="footer-p">© 2022 Nova UI</p>
        </footer>
    </div>
    <script type="module" src="./src/js/index.js"></script>
    <script src="./../../main/src/js/root.js"></script>
</body>

</html>