<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova UI</title>
    <link
    rel="stylesheet"
    href="https://ui-nova.netlify.app/css/component.css"
  />
</head>

<body>
    <div class="home-container">
        <header>
            <div class="header-container-1">
                <div class="left-container">
                    <div class="logo-container">
                        <img src="../assets/nova-logo-dark.png" alt="Logo" class="logo">
                        <p class="logo-p">SHINE TOGETHER</p>
                    </div>
                    <div class="header-container">
                        <p>Home</p>
                        <p>Documentation</p>
                    </div>
                </div>
                <div class="social-icon-container">
                    <a href="https://github.com/sach10-create" target="_blank" aria-label="View Github Profile"
                        class="no-link"><i class="fab fa-github social"></i></a>
                    <a href="https://twitter.com/thisis_sachin_p" target="_blank" aria-label="View Twitter Profile"
                        class="no-link"><i class="fab fa-twitter social"></i></a>
                    <a href="https://www.linkedin.com/in/sachin-patekar-2199911a3/" target="_blank"
                        aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
                    <i class="fas fa-sun theme-icon social" aria-label="dark/light theme icon"></i>
                </div>
            </div>
        </header>
        <main>
            <section class="main--heading-container">
                <h1 class="main--heading">List</h1>
                <p class="main--text"> Lists can be used at so many places, navigation bar, stacked notifications, article pages, etc.
                </p>
            </section>
            <section class="main--sub-heading">
                <div id="stacked-list" class="stacked-list">
                    <h3 class="main--heading">Stacked List</h3>
                    <p class="main--text">
                        This is stacked list without bullets. We can add desired component inside "li" element. Check below code for cards in stacked list.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
            <section class="main--sub-heading">
                <div id="spaced-list" class="spaced-list">
                    <h3 class="main--heading">Spaced List</h3>
                    <p class="main--text">
                        If you want list items in same line.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
        </main>
        <nav>
            <a class="burger-nav"></a>
            <h2>Components</h2>
            <ul class="list-components">
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/alerts/alerts.html" class="navbar-link">
                        Alert
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/avatar/avatar.html" class="navbar-link">
                        Avatar
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/badge/badge.html" class="navbar-link">
                        Badge
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/button/button.html" class="navbar-link">
                        Button
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/card/card.html" class="navbar-link">
                        Card
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/image/image.html" class="navbar-link">
                        Image
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/input/input.html" class="navbar-link">
                        Input
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/lists/list.html" class="navbar-link link-active">
                        List
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/modal/modal.html" class="navbar-link">
                        Modal
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/rating/rating.html" class="navbar-link">
                        Rating
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/snackbar/snackbar.html" class="navbar-link">
                        Snackbar
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/snackbar/snackbar.html" class="navbar-link">
                        Snackbar
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/snackbar/snackbar.html" class="navbar-link">
                        Snackbar
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/snackbar/snackbar.html" class="navbar-link">
                        Snackbar
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/snackbar/snackbar.html" class="navbar-link">
                        Snackbar
                    </a>
                </li>
            </ul>
        </nav>
        <footer>
            <div class="social-icon-container footer">
                <a href="https://github.com/sach10-create" target="_blank" aria-label="View Github Profile"
                    class="no-link"><i class="fab fa-github social"></i></a>
                <a href="https://twitter.com/thisis_sachin_p" target="_blank" aria-label="View Twitter Profile"
                    class="no-link"><i class="fab fa-twitter social"></i></a>
                <a href="https://www.linkedin.com/in/sachin-patekar-2199911a3/" target="_blank"
                    aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
            </div>
            <p class="footer-p">© 2022 Nova UI</p>
        </footer>
    </div>
    <script type="module" src="./src/js/index.js"></script>
    <script src="./../../main/src/js/root.js"></script>
</body>

</html>