@import url(../../../../css/component.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-badge {
  position: relative;
}

.icon-badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding: 1rem;
  margin-top: 4rem;
}


.header-img {
  font-size: 5rem;
}

.icon-badge-text {
  position: absolute;
  font-size: 1.2rem;
  background-color: red;
  width: 2rem;
  border-radius: 2rem;
  padding: 0.5rem;
  font-weight: bolder;
  bottom: 1.5rem;
  left: 2rem;
}