<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova UI | Badges</title>
    <link rel="icon" href="../assets/chip-img.png" type="image/x-icon">
    <link rel="stylesheet" href="https://ui-nova.netlify.app/css/component.css" />
</head>

<body>
    <div class="home-container">
        <header class="header-shadow header-comp">
            <div class="header-container-1 d-flex justify-content-space-between align-center">
                <div class="left-container d-flex">
                    <div class="logo-container">
                        <a href="https://ui-nova.netlify.app/" class="no-link">
                            <img src="../assets/nova-logo-dark.png" alt="Logo" class="logo">
                            <p class="logo-p">Shine Together</p>
                        </a>
                    </div>
                    <div class="header-container d-flex justify-content-flex-start align-center">
                        <a href="https://ui-nova.netlify.app" class="no-link">
                            <p class="cursor-pointer">Home</p>
                        </a>
                        <a href="https://ui-nova.netlify.app/components/alerts/alerts.html" class="no-link">
                            <p class="cursor-pointer">Documentation</p>
                        </a>
                    </div>
                </div>
                <div class="social-icon-container">
                    <a href="https://github.com/sach10-create" target="_blank" aria-label="View Github Profile"
                        class="no-link"><i class="fab fa-github social"></i></a>
                    <a href="https://twitter.com/thisis_sachin_p" target="_blank" aria-label="View Twitter Profile"
                        class="no-link"><i class="fab fa-twitter social"></i></a>
                    <a href="https://www.linkedin.com/in/sachin-patekar-2199911a3/" target="_blank"
                        aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
                    <i class="fas fa-sun theme-icon social" aria-label="dark/light theme icon"></i>
                </div>
            </div>
        </header>
        <main class="main-comp">
            <section class="main--heading-container">
                <h1 class="main--heading">Badge</h1>
                <p class="main--text">Badges are small images in some World Wide Web pages which are typically used to
                    promote programs that were used to create or host the site.
                </p>
            </section>
            <section class="main--sub-heading">
                <div id="badge-avatar" class="badge-avatar">
                    <h3 class="main--heading">Status Badge</h3>
                    <p class="main--text">
                        We have 2 types of status badges that can be integrated with Avatars. You can show colors to
                        show the online status of user. And to show cart or notification count, you can use number
                        badge. Check code below to copy the html part as is.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
            <section class="main--sub-heading">
                <div id="badge-icon" class="badge-icon">
                    <h3 class="main--heading">Icon Badge</h3>
                    <p class="main--text">
                        We have icon badges used on many applications to show any notifications, for example the number
                        of messages received etc.
                    </p>
                    <div class="import-html">

                    </div>
                </div>
            </section>
        </main>
        <nav class="header-shadow">
            <a class="burger-nav"></a>
            <h2>Components</h2>
            <ul class="list-components">
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/alerts/alerts.html" class="navbar-link">
                        Alert
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/avatar/avatar.html" class="navbar-link">
                        Avatar
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/badge/badge.html" class="navbar-link link-active">
                        Badge
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/button/button.html" class="navbar-link">
                        Button
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/card/card.html" class="navbar-link">
                        Card
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/image/image.html" class="navbar-link">
                        Image
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/input/input.html" class="navbar-link">
                        Input
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/lists/list.html" class="navbar-link">
                        List
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/modal/modal.html" class="navbar-link">
                        Modal
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/rating/rating.html" class="navbar-link">
                        Rating
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/snackbar/snackbar.html" class="navbar-link">
                        Snackbar
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/navigation/navigation.html" class="navbar-link">
                        Navigation
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/grid/grid.html" class="navbar-link">
                        Grid Simplified
                    </a>
                </li>
                <li class="component">
                    <a href="https://ui-nova.netlify.app/components/typography/typography.html" class="navbar-link">
                        Typography
                    </a>
                </li>
            </ul>
        </nav>
        <footer class="header-shadow footer-comp">
            <div class="social-icon-container footer">
                <a href="https://github.com/sach10-create" target="_blank" aria-label="View Github Profile"
                    class="no-link"><i class="fab fa-github social"></i></a>
                <a href="https://twitter.com/thisis_sachin_p" target="_blank" aria-label="View Twitter Profile"
                    class="no-link"><i class="fab fa-twitter social"></i></a>
                <a href="https://www.linkedin.com/in/sachin-patekar-2199911a3/" target="_blank"
                    aria-label="View LinkedIn Profile" class="no-link"><i class="fab fa-linkedin-in social"></i></a>
            </div>
            <p class="footer-p">© 2022 Nova UI</p>
        </footer>
    </div>
    <script type="module" src="./src/js/index.js"></script>
    <script src="./../../main/src/js/root.js"></script>
</body>

</html>